<template>
  <div id="app">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App!'
      }
    }
  }
</script>

<style lang="css">
  #app {
    color: #56b983;
  }
</style>